{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Hero Section -->
<section class="relative bg-gray-900">
    <img src="{% static 'images/hero.jpg' %}" alt="Quad" class="w-full  object-cover opacity-80">
    </section>

<!-- Categories / Marques Section -->
<section class="container bg-[#F5F0F0] my-2 w-full md:max-w-1/2 mx-auto block">
    <div class="container mx-auto">
        <h2 class="md:text-5xl text-xl font-medium text-center uppercase mb-2 underline">JIMQUAD<sub>39.</sub> </h2>
        <h2 class="md:text-5xl text-xl text-gray-700 font-medium text-center underline">Découvrez nos pièces détachées.</h2>
    </div>
</section>

<!-- CTA Section -->
<section class="flex justify-center items-center mb-2">
    <a href="{% url 'products:brand-list' %}" class="mt-6 inline-block bg-red-500 text-black border-2 border-black px-6 py-3  font-semibold hover:bg-gray-100">
       Voir tous
    </a>
</section>

<section
  class="flex flex-col justify-center items-center bg-fixed bg-center bg-cover"
  style="background-image: url('/static/images/jimquad-bg.jpg');"
>
  <div class="bg-[#F5F0F0] my-6 border border-gray-300 p-7 md:w-3/4 backdrop-blur-sm">
    <div class="flex items-center flex-col bg-white/80 p-3">
      <p class="text-center text-sm md:text-xl">
        JIMQUAD39 est votre
        <strong>expert des pièces détachées d'occasion pour QUADS</strong>
        et <strong>SSV.</strong>
      </p>
      <h5 class="text-red-500 my-2 text-sm md:text-2xl text-center uppercase underline">
        TOUTES LES PIÈCES DÉTACHÉES :
      </h5>
      <p class="text-center text-xs md:text-lg w-3/4 text-wrap self-center">
        Nous vous proposons un vaste choix de pièces détachées pour tous vos quads de marques.
        Situé à Chaussin, dans le Jura (39) non loin de Dole, Lons-le-Saunier et Besançon.
        Les pièces sont disponibles dans notre magasin ou sur notre boutique en ligne.
      </p>
    </div>

    <p class="bg-red-500 text-xs md:text-lg text-white p-4 text-center text-white bg-gradient-to-r from-black through-red-900 to-red-600 rounded-md">
      Amortisseurs, Batterie, Boite à air, Boite à vitesse, Boite transfert, Pont, Bras oscillant, Bumper, Nerf bar, Chassis avec ou sans carte grise, Carburateur, Cardan 4x4, Moyeu, Jambe de force, Carénage , Boitier cdi, Chaîne, Clignotant, Colonne de direction, Commodo, Phare, Démarrage, Clignotant, Klaxon, Carénage (avant, arrière, latérale) , Démarreur, Etrier de frein, Faisceau électrique, Feu arrière, Gâchette de gaz, Poignée accélérateur, Guidon, Jantes, Kit carénage complet, Ligne d'échappement complète ou non, Moteur, Moyeu roulement, Régulateur de tension, Réservoir, Rotule biellette de direction, Selle, Train arrière, Triangles rotules, Phare avant arrière optique, Poignée frein embrayage et bien d'autres encore.
    </p>
  </div>
</section>
<section >
  <div class="grid grid-cols-2">
    <!-- Left Column -->
    <div class="bg-[#F5F0F0] p-4">
      <h3 class="text-xs md:text-2xl font-bold  mb-4 border-4 p-2 text-center border-black">
        Commandez vos pièces directement en ligne.
      </h3>
      <p class="text-gray-700 font-bold text-center text-xs md:text-lg leading-relaxed mb-4">
        Nous vous proposons un vaste choix de pièces détachées d'occasion de toutes marques pour réaliser vous-même les réparations de vos quads.
      </p>

      <a href="#" class="mt-4 block text-center underline text-red-600 font-semibold hover:underline mb-3">MARQUES :</a>

      <!-- 2-column brand list -->
      <div class="flex justify-between text-gray-700 text-sm leading-relaxed">
        <div class="w-1/2 flex justify-center items-center">
            <ul class="space-y-1 text-xs md:text-lg">
                <li>ACCÈSS-TRITON</li>
                <li>ADLY-AXR</li>
                <li>AEON</li>
                <li>ARCTIC CAT</li>
                <li>BAROSSA / SMC</li>
                <li>BEYOND / BUYANG</li>
                <li>CAMPELL</li>
                <li>CAN-AM / BOMBARDIER</li>
                <li>CECTEK</li>
                <li>CF-MOTO / PUMA</li>
                <li>DINLI</li>
                <li>E-TON</li>
                <li>GAS-GAS</li>
                <li>GOES</li>
                <li>HSUN</li>
                <li>HYOSUNG</li>
                <li>HYTRACK / LINHAI</li>
            </ul>
            
        </div>
        <div class="w-1/2 flex justify-center items-center">
            <ul class="space-y-1 text-xs md:text-lg">
          <li>JIANSHE</li>
          <li>JINLING</li>
          <li>KAWASAKI</li>
          <li>KYMCO</li>
          <li>LIGIER - AEON</li>
          <li>LONCIN</li>
          <li>MASAI</li>
          <li>MASH</li>
          <li>NFM / NEW FORCE MOTOR</li>
          <li>POLARIS</li>
          <li>ROXON</li>
          <li>SHINERAY</li>
          <li>SUZUKI</li>
          <li>SYM</li>
          <li>TGB</li>
          <li>YAMAHA</li>
        </ul>
    </div>
</div>
<div class="flex justify-center">
    <button class='bg-black text-white text-xs md:text-lg mt-2 p-2 uppercase'>
        Trouvez ma pièce
    </button>
</div>
    </div>

    <!-- Right Column -->
    <div class="bg-[#9B9B9B]">
      <div class="mb-6">
        <p class="font-bold text-xs md:text-lg text-center">RACHAT DE QUADS</p>
        <p class="font-bold text-xs md:text-lg text-center">TOUTES MARQUES</p>
        <p class="font-bold text-xs md:text-lg mt-2 text-center">
          HS, ACCIDENTS, 
        </p>
        <p class="font-bold text-xs md:text-lg mt-2 text-center">
          AVEC OU SANS PAPIERS, 
        </p>
        <p class="font-bold text-xs md:text-lg mt-2 text-center">
          RETOUR DE VOL OU ASSURANCES.
        </p>
      </div>
      <div class="w-full p-5">
          <img src="{% static 'images/photo-boutique.jpg' %}" alt="Boutique Jimquad"
          class=" shadow-lg w-full">
        </div>
    </div>
  </div>

  <!-- Second Row -->
  <div class="grid grid-cols-2">
    <div class="bg-[#9B9B9B] flex flex-col justify-center items-center">
      <p class="font-bold mb-2 text-xs md:text-lg">JIMQUAD PROPOSE UN SERVICE DE CARTE GRISE.</p>
      <p class="text-gray-700 font-bold leading-relaxed">
        Du lundi au vendredi : 9h00 à 11h00 et 14h00 à 16h30.<br>
        Le samedi : 8h30 à 10h30.
      </p>
    </div>

    <div class="bg-[#F5F0F0] flex flex-col justify-center items-center p-5">
      <p class="mb-2 text-xs md:text-lg border border-black p-2 text-center text-red-900 py-2">Retirez votre commande gratuitement en boutique.</p>
      <p class="text-gray-700 leading-relaxed mb-5 text-center">
        Notre boutique de pièces détachées pour quad à Chaussin, non loin de Dole et Dijon est ouverte selon les horaires :
      </p>
      <p class="text-gray-700 leading-relaxed mb-5 text-center">
        Lundi au vendredi : 8h30–12h / 14h–17h30<br>
        Samedi : 8h30–11h30
      </p>
      <p class="text-gray-700 leading-relaxed mb-5 text-center">
        Fermé le samedi après-midi, le dimanche et les jours fériés.
      </p>
      <p class="text-gray-700 leading-relaxed mb-5 text-center">
        Vous pouvez commander vos pièces détachées en ligne 24h/24 et 7j/7 sur notre e-shop.
      </p>
      <p class="text-gray-700 leading-relaxed mb-5 text-center">
        Vos commandes sont préparées par notre équipe dans les meilleurs délais.
      </p>
      <button class="mt-4 inline-block text-white bg-black border border-black px-6 py-3 font-semibold hover:bg-gray-100">
        Plus d’infos
      </button>
    </div>
  </div>
</section>



{% endblock %}

{% if debug %}
<script src="{% url 'django_browser_reload:reload' %}"></script>
{% endif %}
