{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <!-- Page Header -->
    <div class="text-center mb-12">
        {% if brand %}
            <h1 class="text-3xl font-bold text-gray-900 mb-4">Toutes nos pièces détachées d'occasion</h1>
            <p class="text-lg text-gray-600 max-w-2xl mx-auto text-red-500">{{ brand.name }}</p>
            <p class="text-lg text-gray-600 max-w-2xl mx-auto">{{ brand.description }}</p>
        {% else %}
            <h1 class="text-3xl font-bold text-gray-900 mb-4">Toutes nos pièces détachées d'occasion</h1>
            <p class="text-lg text-gray-600 max-w-2xl mx-auto">Découvrez notre sélection de modèles de quads disponibles</p>
        {% endif %}
    </div>
    
    
    
    <!-- Model Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        
        <!-- Model Cards -->
        {% for model in models %}
        <div >
                <a href="{% url 'app_urls:model-category-list' model.id %}"
                   class="block">
                <!-- Image Container -->
                <div class="relative h-48 bg-gray-100 overflow-hidden">
                    <img src="{{ model.image.url }}"
                    alt="{{ model.name }}" 
                    class="w-full h-full object-fill transition-transform duration-300 hover:scale-95">
                </div>
                <h1 class="text-black text-lg text-center mt-4">{{ model.name }}</h1>
            </a>
        </div>
        {% endfor %}
</div>
{% endblock %}
