{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="max-w-6xl mx-auto py-10 px-4">

    <h1 class="text-3xl font-bold mb-6">{{ page_title }}</h1>

    {% if categories %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for category in categories %}
            <a href="{% url 'app_urls:category-detail' category.id %}" class="text-xl font-semibold mb-2">{{ category.name }}</a>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-gray-600 italic">Aucune catégorie trouvée pour ce modèle.</p>
    {% endif %}

</div>
{% endblock %}
