{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
    {% result_list cl %}
    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}

    <div class="actions">
        <a href="{% url 'admin:products_product_add' %}" class="button">
            {% trans 'Add New Product' %}
        </a>
    </div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <style>
        .field-display_image img {
            max-width: 50px;
            max-height: 50px;
            border-radius: 3px;
        }
        .actions {
            margin: 15px 0;
        }
        .field-price, .field-stock {
            text-align: right;
            font-family: monospace;
        }
        .field-available img {
            margin-left: 5px;
            vertical-align: middle;
        }
        .field-brand, .field-category {
            white-space: nowrap;
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}
